@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// support disabled file input
.file.is-primary .file-input[disabled] ~ .file-cta:hover,
.file.is-primary .file-input[disabled] ~ .file-cta.is-hovered,
.file.is-primary .file-input[disabled] ~ .file-cta:focus,
.file.is-primary .file-input[disabled] ~ .file-cta.is-focused,
.file.is-primary .file-input[disabled] ~ .file-cta:active,
.file.is-primary .file-input[disabled] ~ .file-cta.is-active {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #7a7a7a;
}
.file-input[disabled] ~ .file-cta,
.file-input[disabled] ~ .file-name {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #7a7a7a;
}

.file-input[disabled] ~ .file-cta,
.file-input[disabled] ~ .file-name,
.file-input[disabled] ~ .file-cta .file-label {
  cursor: not-allowed;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-full {
  height: 100%;
}
